// Fonts

$title: 'Cormorant Garamond', 'Garamond', serif;
$bodytext: 'Proza Libre', 'Arial', sans-serif;
$handwritten: 'Dancing Script', 'Palatino', cursive;

// Weights

$normal: 400;
$bold: 700;

// Colours

$deeppurple: #320459;
$purple: #1E0463;
$hotpink: #B208CC;
$darkblue: #07074D;
$lightblue: #041D63;
$seablue: #043159;
$c2ared: #B52807;
$c2alightred: #FF9182;
$lightgrey: #F9F9F9;
$black: #000;
$white: #FFF;
$softwhite: #F8F8F8;
$darkgrey: #1a1d24;
